.cross {
    /* position: relative;
    font-size: 20px; */
    background-image: url('close_FILL0_wght400_GRAD0_opsz48.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

/* 
.close::before {
    content: "×";
    position: absolute;
    top: 0;
    left: 0;
    color: #6091d3;
    opacity: 50%;
}
.close::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

body {
    background-color: #f5f5f5;
}

.clickdisable {
    pointer-events: none;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    background-color: white;
}

.sudoku {
    overflow: hidden;
}

#midasi,
#waiting_num {
    text-align: center;
}

#waiting {
    text-align: center;
}

#go_game {
    /*display: block;*/
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}

.sudoku td {
    border: 1px solid #6091d3;
    text-align: center;
    font-size: large;
    width: 40px;
    height: 40px;
    position: relative;
}

.select td:hover,
.box div:hover {
    background: #f3ece3;
    cursor: pointer;
}

.sudoku tr:first-child td {
    border-top: 4px solid #6091d3;
}

.sudoku tr:nth-of-type(3n) td {
    border-bottom: 4px solid #6091d3;
}

.sudoku td:first-child {
    border-left: 4px solid #6091d3;
}

.sudoku td:nth-of-type(3n) {
    border-right: 4px solid #6091d3;
}

.hutoiborder {
    border: 5px solid #6091d3 !important;
}

.box {
    margin-top: 10px;
    display: flex;
}

.select {
    margin-top: 20px;
}

.select td {
    border: 2px #6091d3 solid;
    text-align: center;
    font-size: large;
    width: 40px;
    height: 40px;
}

.opohover {
    background-color: #e2d5e4;
}

.opoClick {
    background-color: #d5bdd9;
}

.myClick {
    background-color: #d9ffd9;
}

.own {
    background-color: #a3ffa3;
}

.opponent {
    background-color: #f5d1fb;
}

.sudoku td:hover:not(.myClick) {
    /*クリックしたらホバークラスはつけない*/
    background-color: #cee8ce;
}

/*
クリックより確定したパネルのほうが優先度が高いため
*/
.myClick.own {
    background-color: #bff6bf;
}

.myClick.opponent {
    background-color: #f5d1fb;
}

.glayout {
    background-color: #bdbdbd;
}

/* 
.check {
    margin-right: 135px;
    border: 2px #6091d3 solid;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 45px;
} */

#waiting_disp {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#waiting {
    margin-right: 0.8em;
}

#log {
    font-size: small;
    height: 80px;
}

#chatarea {
    font-size: small;
    height: 80px;
}

#scoreboard,
#chat {
    display: block;
}

/* #ranking{
    width: inherit;
    margin: auto;
    display: block;
    height: 100px;
} */

/*以下くるくる*/
.loader {
    color: #000000;
    font-size: 0.2em;
    /*margin: 100px auto;*/
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load4 1.3s infinite linear;
    animation: load4 1.3s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

@-webkit-keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {

    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }

    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }

    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }

    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }

    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }

    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}